/NetbeansProject/GUI/nbproject/private/
/NetbeansProject/GUI/build/
/NetbeansProject/GuiDatario/nbproject/private/
/NetbeansProject/GuiAnagrafica/nbproject/private/
/NetbeansProject/GuiAnagrafica/build/