/NetbeansProject/GUI/nbproject/private/
/NetbeansProject/GUI/build/
/NetbeansProject/GuiDatario/nbproject/private/
/NetbeansProject/GuiAnagrafica/nbproject/private/
/NetbeansProject/GuiAnagrafica/build/
/NetbeansProject/GuiAnagrafica/dist/
/NetbeansProject/GuiMaster/nbproject/private/
/NetbeansProject/GuiMaster/build/
/NetbeansProject/GuiMasterAuto/nbproject/private/
/NetbeansProject/GuiMasterAuto/build/
/NetbeansProject/GuiMasterAuto/dist/
/NetbeansProject/GuiMasterAuto1_0/nbproject/private/
/NetbeansProject/GuiMasterAuto1_0/build/
/NetbeansProject/GuiMasterAuto1_1/nbproject/private/
/NetbeansProject/GuiMasterAuto1_1/build/
/NetbeansProject/GuiMasterAuto1_1_1/nbproject/private/
/NetbeansProject/GuiMasterAuto1_1_1/build/