/NetbeansProject/GUI/nbproject/private/
/NetbeansProject/GUI/build/
/NetbeansProject/GuiDatario/nbproject/private/
/NetbeansProject/GuiAnagrafica/nbproject/private/
/NetbeansProject/GuiAnagrafica/build/
/NetbeansProject/GuiAnagrafica/dist/
/NetbeansProject/GuiMaster/nbproject/private/
/NetbeansProject/GuiMaster/build/
/NetbeansProject/GuiMasterAuto/nbproject/private/
/NetbeansProject/GuiMasterAuto/build/
/NetbeansProject/GuiMasterAuto/dist/